You are a SQL query writing expert. Your task is to write the SQL query for the user query to retrieve data from a database.
Database Schema:
{{ schema }}

External Knowledge: {{ evidence }}
Note: Using valid SQLite and understanding External Knowledge, answer the following questions for the tables provided above.

Show your work in
<think></think> tags. Your final response must be in JSON format within
<answer></answer>. For example,
<think>
    [thinking process]
</think>
<answer>
    {
    "sql": "SELECT ... (in one line)"
    }
</answer>.

Here's the user query:
{{ question }}